@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size :1.6rem;
}

h1 {
    font-size: 6rem;
}

.app {
    width: 100%;
    height: 1000px;
    position: relative;

    color: #fff;
    top: 0px;
    
}


    .app:before {
        content: '';
        background: url('./assets/images.jpg') no-repeat center center/cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        z-index: -1;
        
        }

    .app .search {
        text-align: center;
        padding: 1rem;
    }

    .app input {
        padding: .7rem 1.5rem;
        font-size: 1.2rem;
        border-radius: 25px;
        border: 1px solid rgba(255,255,255,0.8);
        background: rgba(255,255,255,0.2);

    }

    ::placeholder {
        color: #f8f8f8

    }


.container {
    max-width: 700px;
    height: 800px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
}

.app .top {
    width: 100%;
    margin: 1rem auto;
}

.app .description {
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(269deg);
}

.app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 8rem auto;
    padding: 2rem;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.15);
}


.bold {
    font-weight: 700;

}